.main-title {
  padding: 4px;
  color: var(--text);
}

.main-name {
  color: var(--text);
}

.main-email {
  text-align: center;
  margin-bottom: 4px;
  color: var(--text);
}

.main-bio {
  padding: 8px 2em;
  margin: 0 auto;
  text-align: center;
}

.main-bio-text {
  max-width: 700px; 
  margin: 0 auto 32px auto;
  font-size: 0.95rem;
  line-height: 1.6;
  text-align: justify;
}

.main-card {
  padding: 2em;
  display: flex;
  flex-direction: row;
}