.notfound-container {
  padding: 2em;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.notfound-title {
  font-size: 4rem;
  font-weight: bold;
  padding: 4px;
  color: var(--text);
}

.notfound-text {
  font-size: 1.1rem;
  line-height: 1.6;
  padding: 8px 2em;
  margin: 0 auto 32px auto;
  color: var(--text);
  text-align: justify-center;
}

.notfound-link {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: #0077ff;
  color: white;
  font-weight: 600;
  border-radius: 6px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.notfound-link:hover {
  background-color: #005fcc;
}
