#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.main-title {
  padding: 20px;
}

.main-bio {
  padding: 2em;
  text-align: center;
  margin-bottom: 8px;
}

.main-email {
  font-size: 0.95rem;
  text-align: center;
  margin-bottom: 16px;
}

.main-bio-text {
  max-width: 700px; 
  margin: 0 auto 32px auto;
  font-size: 0.95rem;
  line-height: 1.6;
  text-align: justify;
}

.main-card {
  padding: 2em;
  display: flex;
  flex-direction: row;
}

.read-the-docs {
  color: #888;
}
